.Hangman {
  width: 400px;
  color: black;
  text-align: center;
  zoom: 1.1;
}

.Hangman img {
  border: 10px solid white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.Hangman h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 0.3em;
  margin-top: 0;
}

.Hangman-word {
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
}

.Hangman-btns {
  text-align: center;
  display: inline-block;
  width: 250px;
  margin-top: 0;
}
.Hangman button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  width: 30px;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  outline: none;
  background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(207,170,240,1) 0%, rgba(247,145,234,1) 90% );
  color: black;
  box-shadow: 0 4px 8px 0 rgba(247,145,234,1);
  border-radius: 5px;
  padding-top: 4px;
}

.Hangman button:hover {
  box-shadow: 0 8px 16px 0 cyan;
  
}

.Hangman button:disabled {
  background: black;
  color: rgba(247,145,234,1);
  box-shadow: 0 6px rgba(255,216,194,1);
}
#reset {
  width: auto;
  display: block;
  border: 2px solid black;
  padding: 2px 5px;
  margin-left: auto;
  margin-right: auto;
  color:black;
  background: cyan;
  box-shadow: 0 4px 8px 0 rgba(247,145,234,1);
  transition: 0.3s;
}
#reset:hover {
  color:black;
  background: cyan;
  box-shadow: 0 8px 16px 0 rgba(247,145,234,1);
}
