@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Itim" , cursive;
}
h1{
  text-shadow:5px 5px 10px rgba(247,145,234,1);
  
}